apiVersion: aiautoscaler.io/v1
kind: AIHorizontalPodAutoscaler
metadata:
  name: test-autoscaler-app
  namespace: test-autoscaler
spec:
  targetDeployment: test-app
  prometheusService: prometheus-service
  prometheusConfig:
    url: "http://192.168.49.2:30000/"
    queryTemplate: "sum(rate(flask_requests_total[1m])) * 60"
    windowMinute: 10
    timeoutSeconds: 30
  scalingConfig:
    minReplicas: 2
    maxReplicas: 25
    workloadPerPod: 500
    resourceRemovalStrategy: 0.6
    cooldownPeriod: 60
  validationThresholds:
    maxSpikeMultiplier: 5.0
    maxHistoricalMultiplier: 10.0